#main-header {
    background-color: #39bb55;
    text-align: center;
    padding: 30px;
    margin: 0;
    border: 3px solid #121111f7;
    border-radius: 30px;
}

#main-header h1 {
    margin-bottom: 15px;
}

#main-header p {
    font-size: 18px;
    color: #000000;
}
nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
}

.plant-card {
background-color: #39bb55;
text-align: center;
padding: 20px;
margin: 20px;
border: 3px solid #121111f7;
border-radius: 15px;
}

.plant-card img {
    width: 100%;
    border-radius: 10px;
}

.plant-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

main {
    padding: 20px;
}

h2 {
    color: #121111f7;
}

main img {
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
}

.plant-card h3 {
    margin-top: 0;
    color: #39bb55;
}

nav a:hover {
    color: #39bb55;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: #39bb55;
    padding: 10px 20px;
    border: 2px solid #121111f7;
    border-radius: 10px;
}

nav a:hover {
    background-color: #2f9c47;
    color: white;
}

.featured-plant {
    background-color: #39bb55;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    border: 3px solid #121111f7;
    border-radius: 15px;
    width: 80%;
}

.featured-plant h2 {
    color: rgb(20, 18, 18);
}

.featured-plant p {
    color: black;
}

.featured-plant img {
    width: 300px;
    max-width: 100%;
    border-radius: 10px;
}

.about-box {
    background-color: #39bb55;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    border: 3px solid #121111f7;
    border-radius: 15px;
    width: 80%;
}

.details-box {
    background-color: #39bb55;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    border: 3px solid #121111f7;
    border-radius: 15px;
    width: 80%;
}

.details-box input {
    width: 60%;
    padding: 10px;
    border: 2px solid #121111f7;
    border-radius: 10px;
    margin-bottom: 20px;
}

@media(max-width: 768px){
    .plant-container {
        grid-template-columns: 1fr;
    }
    nav {
        flex-direction: column;
    }
}