#main-header {
    background-color: #39bb55;
    text-align: center;
    padding: 30px;
    margin: 0;
    border: 3px solid #121111f7;
    border-radius: 20px;
}

#main-header h1 {
    margin-bottom: 15px;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
}

.plant-card {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.plant-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width: 768px){
    .plant-container {
        grid-template-columns: 1fr;
    }
    nav {
        flex-direction: column;
    }
}