#main-header {
    background-color: #39bb55;
    text-align: center;
    padding: 30px;
    margin: 0;
    border: 3px solid #121111f7;
    border-radius: 15px;
}

#main-header h1 {
    margin-bottom: 15px;
}

#main-header p {
    font-size: 18px;
    color: #000000;
}
nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
}

.plant-card {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.plant-card img {
    width: 100%;
    border-radius: 10px;
}

.plant-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

main {
    padding: 20px;
}

h2 {
    color: #121111f7;
}

.plant-card h3 {
    margin-top: 0;
    color: #39bb55;
}

nav a:hover {
    color: #39bb55;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width: 768px){
    .plant-container {
        grid-template-columns: 1fr;
    }
    nav {
        flex-direction: column;
    }
}